@import '~bootstrap/scss/bootstrap';


.ciao {
    text-align: center;
    display: flex;
}




.test{
    flex-direction: column;
}









h3 {
    text-align: center;
}

.miao {
    height: 100px;
}

.no {
    display: flex;
}